/* line 61, ../../../../../../../Users/amir/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 68.75%;
}

/* line 64, ../../../../../../../Users/amir/.rvm/gems/ruby-1.9.3-p327/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 11px;
  line-height: 1.27273em;
}

@font-face {
  font-family: "DINWeb";
  src: url('fonts/../fonts/DINWeb.eot');
  src: url('fonts/../fonts/DINWeb.eot?#iefix') format('eot'), url('fonts/DINWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DINWeb";
  src: url('fonts/../fonts/DINWeb-Bold.eot');
  src: url('fonts/../fonts/DINWeb-Bold.eot?#iefix') format('eot'), url('fonts/DINWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* line 13, ../../../app/styles/_default/login.scss */
html {
  height: 100%;
}

/* line 14, ../../../app/styles/_default/login.scss */
body {
  margin: 0;
  padding: 0;
  font-family: "DINWeb", Arial, Helvetica, sans-serif;
  color: #32383e;
  min-width: 460px;
  height: 100%;
  min-height: 500px;
  -webkit-text-size-adjust: none;
}

/* line 29, ../../../app/styles/_default/login.scss */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: inline-block;
  padding: 7px 6px 5px 6px;
  margin-bottom: 7px;
  font-size: 13px;
  height: 16px;
  line-height: 16px;
  color: #666;
  vertical-align: middle;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.6);
}

/* line 46, ../../../app/styles/_default/login.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #8a97a3;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-transition: border-color 0.25s;
  -moz-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
  transition: border-color 0.25s;
  -webkit-box-shadow: 0 0 6px #a5b6c7;
  -moz-box-shadow: 0 0 6px #a5b6c7;
  box-shadow: 0 0 6px #a5b6c7;
}

/* line 56, ../../../app/styles/_default/login.scss */
form button, input[type="submit"], .btn {
  display: inline-block;
  height: 28px;
  padding: 0px 12px;
  margin-bottom: 7px;
  font-size: 1.18182em;
  line-height: 2.15385em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0 -1px 1px #2b3036;
  border: 0;
  outline: 0;
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background-color: #576370;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8a97a3), color-stop(100%, #414a53));
  background-image: -webkit-linear-gradient(top, #8a97a3, #414a53);
  background-image: -moz-linear-gradient(top, #8a97a3, #414a53);
  background-image: -o-linear-gradient(top, #8a97a3, #414a53);
  background-image: linear-gradient(top, #8a97a3, #414a53);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

/* line 78, ../../../app/styles/_default/login.scss */
form button:focus, form button:hover, input[type="submit"]:focus, input[type="submit"]:hover, .btn:hover {
  -webkit-transition: box-shadow 0.25s;
  -moz-transition: box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6), inset 0 0 24px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6), inset 0 0 24px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6), inset 0 0 24px 2px rgba(0, 0, 0, 0.4);
}

/* line 84, ../../../app/styles/_default/login.scss */
.login {
  background: #e1e1e1 url(images/login/bg-login.jpg);
  position: relative;
}
/* line 88, ../../../app/styles/_default/login.scss */
.login .login-container {
  position: absolute;
  width: 768px;
  top: 50%;
  left: 50%;
  padding: 24px 0;
  margin-top: -250px;
  margin-left: -384px;
}
/* line 98, ../../../app/styles/_default/login.scss */
.login .login-img {
  width: 42%;
  float: left;
  margin-right: 1%;
  margin-bottom: -100px;
}
/* line 104, ../../../app/styles/_default/login.scss */
.login .login-content {
  width: 57%;
  float: left;
  margin-top: 30px;
}
/* line 110, ../../../app/styles/_default/login.scss */
.login h1 {
  margin: 14px 0 0 0;
  font-size: 4.90909em;
  line-height: 1.03704em;
  text-transform: uppercase;
  color: #fff;
}
/* line 116, ../../../app/styles/_default/login.scss */
.login h1 img {
  vertical-align: middle;
  margin: 0 0.5em 0 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
/* line 124, ../../../app/styles/_default/login.scss */
.login .intro {
  clear: both;
  color: white;
  font-weight: bold;
  margin: 1em 0;
  font-size: 1.18182em;
  line-height: 1.61538em;
}
/* line 132, ../../../app/styles/_default/login.scss */
.login:after {
  position: absolute;
  display: block;
  content: " ";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41%;
  background: #000;
  z-index: -1;
}

/* line 147, ../../../app/styles/_default/login.scss */
.login-form .form-control {
  width: 180px;
  float: left;
}
/* line 152, ../../../app/styles/_default/login.scss */
.login-form input {
  width: 150px;
  height: 38px;
  padding: 0 10px;
  margin: 0 4px 7px 0;
  font-size: 15px;
  line-height: 18px;
}
/* line 161, ../../../app/styles/_default/login.scss */
.login-form #login {
  width: auto;
  height: 38px;
  margin: 0 0 7px 0;
  padding: 7px 10px 7px 10px;
  line-height: 22px;
}
/* line 169, ../../../app/styles/_default/login.scss */
.login-form label.error {
  display: inline-block;
  padding: 5px;
  font-size: 12px;
  background: #ba0000;
  color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 184, ../../../app/styles/_default/login.scss */
  .login {
    min-height: 500px;
  }
  /* line 187, ../../../app/styles/_default/login.scss */
  .login .login-container {
    position: absolute;
    width: 440px;
    top: 50%;
    left: 50%;
    padding: 24px 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -250px;
    margin-left: -220px;
  }
  /* line 199, ../../../app/styles/_default/login.scss */
  .login h1 {
    font-size: 4.36364em;
    line-height: 1.16667em;
  }
  /* line 206, ../../../app/styles/_default/login.scss */
  .login .login-content {
    width: 100%;
  }
  /* line 210, ../../../app/styles/_default/login.scss */
  .login:after {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    min-width: 460px;
    height: 41%;
    background: #000;
    z-index: -1;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* line 229, ../../../app/styles/_default/login.scss */
  body {
    min-width: 300px;
  }

  /* line 231, ../../../app/styles/_default/login.scss */
  .login {
    min-height: 500px;
  }
  /* line 234, ../../../app/styles/_default/login.scss */
  .login .login-img {
    width: 62%;
  }
  /* line 238, ../../../app/styles/_default/login.scss */
  .login .login-container {
    width: 300px;
    top: 50%;
    left: 50%;
    padding: 24px 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -250px;
    margin-left: -150px;
  }
  /* line 249, ../../../app/styles/_default/login.scss */
  .login h1 {
    font-size: 3.27273em;
    line-height: 1.55556em;
  }
  /* line 256, ../../../app/styles/_default/login.scss */
  .login .login-content {
    width: 100%;
  }
  /* line 260, ../../../app/styles/_default/login.scss */
  .login .login-form .form-control {
    width: 100%;
  }
  /* line 261, ../../../app/styles/_default/login.scss */
  .login .login-form input {
    width: 100%;
    box-sizing: border-box;
  }
  /* line 262, ../../../app/styles/_default/login.scss */
  .login #login {
    clear: both;
    float: right;
  }
  /* line 264, ../../../app/styles/_default/login.scss */
  .login:after {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    min-width: 300px;
    height: 41%;
    background: #000;
    z-index: -1;
  }
}
