/* Large desktop */
@media (min-width: 1024px) {
  /* line 10, ../../../app/styles/_default/responsive_rtl.scss */
  .box-menu.xl .box-menu-filters > li {
    margin-right: 30px;
  }

  /* line 14, ../../../app/styles/_default/responsive_rtl.scss */
  #compareNav ul {
    width: 3160px;
  }
  /* line 16, ../../../app/styles/_default/responsive_rtl.scss */
  #compareNav ul li {
    width: 158px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* line 27, ../../../app/styles/_default/responsive_rtl.scss */
  .app-header h1 {
    font-size: 3.81818em;
    line-height: 1.16667em;
  }

  /* line 31, ../../../app/styles/_default/responsive_rtl.scss */
  #compareNav ul {
    width: 3240px;
  }
  /* line 33, ../../../app/styles/_default/responsive_rtl.scss */
  #compareNav ul li {
    width: 162px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* line 45, ../../../app/styles/_default/responsive_rtl.scss */
  .app-header h1 {
    font-size: 3.18182em;
    line-height: 1.4em;
  }

  /* line 50, ../../../app/styles/_default/responsive_rtl.scss */
  .box-menu.xl button {
    margin: 10px 10px 0 10px;
  }
  /* line 52, ../../../app/styles/_default/responsive_rtl.scss */
  .box-menu.xl .box-menu-actions {
    float: right;
    border: 0;
  }
  /* line 57, ../../../app/styles/_default/responsive_rtl.scss */
  .box-menu.xl .box-menu-filters {
    margin-right: 10px;
  }

  /* line 61, ../../../app/styles/_default/responsive_rtl.scss */
  .overview .score_total .value {
    font-size: 2.90909em;
    line-height: 1.75em;
  }
  /* line 62, ../../../app/styles/_default/responsive_rtl.scss */
  .overview .score_since .value {
    font-size: 16.5px;
  }

  /* line 66, ../../../app/styles/_default/responsive_rtl.scss */
  .discounts .total, .discounts .last {
    margin: 0 2%;
  }
  /* line 67, ../../../app/styles/_default/responsive_rtl.scss */
  .discounts .value {
    font-size: 60px;
    line-height: 74px;
  }

  /* line 70, ../../../app/styles/_default/responsive_rtl.scss */
  #cso .box-full .table .month {
    display: block;
  }

  /* line 72, ../../../app/styles/_default/responsive_rtl.scss */
  #time .box-full .box-menu .box-menu-actions {
    border: 0;
  }

  /* line 74, ../../../app/styles/_default/responsive_rtl.scss */
  .time-table-nav {
    display: block;
  }

  /* line 77, ../../../app/styles/_default/responsive_rtl.scss */
  #timeTable th, #timeTable td {
    width: 7%;
  }
  /* line 78, ../../../app/styles/_default/responsive_rtl.scss */
  #timeTable th:nth-child(n+7):nth-child(-n+9), #timeTable td:nth-child(n+7):nth-child(-n+9) {
    width: 0;
  }
  /* line 79, ../../../app/styles/_default/responsive_rtl.scss */
  #timeTable th:nth-child(n+4):nth-child(-n+6), #timeTable td:nth-child(n+4):nth-child(-n+6) {
    width: 8%;
  }

  /* line 83, ../../../app/styles/_default/responsive_rtl.scss */
  #timeTable.nextColumns th:nth-child(n+7):nth-child(-n+9), #timeTable.nextColumns td:nth-child(n+7):nth-child(-n+9) {
    width: 8%;
  }
  /* line 84, ../../../app/styles/_default/responsive_rtl.scss */
  #timeTable.nextColumns th:nth-child(n+4):nth-child(-n+6), #timeTable.nextColumns td:nth-child(n+4):nth-child(-n+6) {
    width: 0;
  }
}
/* Landscape phones and down */
