:root {
  --color-text-light: #3a434a;
  --color-text-success: #3aa600;
  --color-text-danger: #e65358;
  --sidebar-bg: #ebecec;
  --sidebar-active-color: #f3f3f3;
  --white: #fff;
  --black: #000;
}
