$color-danger: #e65358;

.inquiry {
  margin: 16px;
  padding: 16px 6px 12px 16px;
  box-shadow: 5px 0 10px 0 rgba(58, 67, 74, 0.05);
  background-color: #fff;
  min-height: 300px;
  max-width: 100%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 1rem;
      line-height: 1.5;
      color: var(--color-text-light);
      span {
        margin-left: 10px;
      }
    }
  }
  &__actions {
    color: $color-danger;
    span {
      font-weight: bold;
    }
    button {
      cursor: pointer;
      border: 0;
      border-radius: 2px;
      transition: 0.3s;
      font-size: 14px;
      color: $color-danger;
      background-color: rgba($color-danger, 0);
      &:hover {
        background-color: rgba($color-danger, 0.1);
      }
    }
  }

  &__footer {
    margin-top: 30px;
    color: var(--color-text-light);
    display: flex;
    .inquiry__info {
      flex-basis: 20%;
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: -0.15px;
      &__name {
        margin-right: 5px;
      }
      &__value {
        font-weight: bold;
      }
    }
  }
}
