.inline-button {
  border: none;
  background: transparent;
  color: var(--color-text-danger, #e65358);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.clickable {
  border: none;
  background: transparent;
  color: var(--color-text-light, #3a433a);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.selectable-wrapper {
  .selectable {
    border: 1px solid var(--color-select-border, #a7acaf);
    border-radius: 0;
    background: var(--color-select-bg, #f1f2f2);
    appearance: none;
    padding: 10px 18px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
  }
}

table.table {
  color: var(--color-text-light);
  border-collapse: collapse;
  width: calc(100% - 15px);
  caption {
    margin: 16px 0;
    opacity: 0.6;
    font-size: 0.875rem;
    line-height: 1.43;
    text-align: start;
  }

  thead {
    th {
      line-height: 1.43;
      text-align: left;
      opacity: 0.6;
      font-size: 0.875rem;
      font-weight: normal;
      vertical-align: bottom;
      padding-right: 14px;
      padding-left: 14px;
      &:first-child {
        text-align: center;
      }
    }
  }
  tbody {
    font-size: 0.875rem;
    tr {
      // &:hover {
      //   outline: 1px solid #f2a9ab;
      //   outline-offset: -1px;
      // }
      &.disabled {
        opacity: 0.6;
      }
      margin: 0 15px;
      padding: 4px 8px;
      height: 28px;
      &:nth-child(odd) {
        background-color: rgba(58, 67, 74, 0.03);
      }
      td {
        padding-right: 14px;
        padding-left: 14px;
        max-width: 280px;
        height: 20px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        line-height: 1.43;
        letter-spacing: -0.15px;
        &:first-child {
          border-right: 1px solid var(--sidebar-bg);
        }
        &:last-child {
          border-left: 1px solid var(--sidebar-bg);
        }
      }
    }
  }
}

table.table.detailed {
  table-layout: fixed;
  thead,
  tbody {
    tr {
      th,
      td {
        &:last-child {
          border-left: 0;
          svg {
            cursor: pointer;
          }
        }
        &:first-child {
          max-width: 220px;
          width: 20%;
          border-right: 1px solid var(--sidebar-bg);
        }
        &:nth-last-child(2) {
          border-left: 1px solid var(--sidebar-bg);
        }
        &:not(:first-child) {
          max-width: 92px;
          width: calc(80% / 9);
        }
      }
      // First row of .detailed table
      &.heading {
        background-color: var(--sidebar-bg);
        td {
          &:first-child {
            font-weight: bold;
          }
        }
      }

      td {
        button {
          border: 0;
          background: none;
          cursor: pointer;
          color: var(--color-text-light);
          svg {
            width: 12px;
            height: 12px;
            padding: 2px;
          }
          & + span {
            padding-right: 6px;
          }
        }
        &:not(:first-child) {
          font-weight: bold;
        }
        &:last-child {
          svg {
            vertical-align: bottom;
          }
        }
      }

      &.details {
        & > td {
          padding-left: 0;
          padding-right: 0;
        }
        table {
          table-layout: fixed;
          width: 100%;
        }
      }
    }
  }
}

.bg {
  &-very-high {
    background-color: var(--color-very-high);
  }
  &-high {
    background-color: var(--color-text-success);
  }
  &-neutral {
    background-color: var(--color-neutral);
  }
  &-low {
    background-color: var(--color-low);
  }
  &-very-low {
    background-color: var(--color-very-low);
  }
  &-disabled {
    background-color: var(--sidebar-bg);
  }
}

.text {
  &-default {
    color: var(--color-text-light);
  }
  &-very-high {
    color: var(--color-very-high);
  }
  &-high {
    color: var(--color-text-success);
  }
  &-neutral {
    color: var(--color-neutral);
  }
  &-low {
    color: var(--color-low);
  }
  &-very-low {
    color: var(--color-very-low);
  }
  &-disabled {
    background-color: var(--sidebar-bg);
  }
}

.btn-load-more {
  color: var(--color-text-light);
  font-size: 0.875rem;
  line-height: 1.43;
  font-weight: bold;
  display: inline-block;
  margin: 30px auto 0;
  padding: 8px 16px;
  border: 1px solid var(--color-text-light);
  border-radius: 3px;
}

.load-more {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
