#contact {
  .box-teaser {
    .contact {
      display: flex;
      align-items: center;
      color: var(--color-text-light);
      font-size: 0.875rem;
      line-height: 1.43;
      letter-spacing: -0.15px;
      &__image {
        border-radius: 50%;
        display: block;
        width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        flex: 0 0 100px;
      }
      &__text {
        flex-grow: 2;
        margin-left: 16px;
        display: flex;
        align-items: center;
        .contact {
          margin-left: 16px;
          &__info {
            flex-grow: 2;
            .name {
              font-weight: bold;
            }
          }
          &__social {
            flex-grow: 2;
            a {
              text-decoration: none;
              color: var(--color-text-danger);
              font-weight: bold;
              letter-spacing: normal;
              font-size: 14px;

              i {
                margin-right: 4px;
              }
            }
          }
          &__message {
            flex-grow: 3;
            margin-top: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint_sm) {
  #contact {
    .box-teaser {
      .contact {
        align-items: flex-start;
        &__text {
          flex-grow: 1;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          & > * {
            flex-grow: 1;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
