section#images {
  .images__filter {
    .images-search {
      display: flex;
      justify-content: space-between;
      color: var(--color-text-light);
      .selectable-wrapper {
        flex-basis: 50%;
        max-width: 579px;
        position: relative;
        height: 37px;
        svg {
          position: absolute;
          width: 14px;
          height: 14px;
          padding: 3px;
          transform: translate3d(-150%, 50%, 0);
        }
        // Custom selectize styles
        .selectize-control.selectable {
          padding: 0;
          .selectize-input {
            box-shadow: none;
            border: none;
            line-height: 1.43;
            background-color: inherit;
            input {
              &::selection {
                background-color: initial;
              }
            }
          }
          .selectize-dropdown {
            width: calc(100% + 2px) !important;
            left: -1px !important;
            padding: 0;
            .selectize-dropdown-content {
              .option {
                &:hover {
                  cursor: pointer;
                }
                // &.selected,
                &.active {
                  color: var(--color-text-light);
                  background-color: var(--color-option-bg-hover, #e3e5e5);
                }
              }
            }
          }
        }
      }
      .searchbox {
        flex-basis: 50%;
        border: solid 1px rgba(58, 67, 74, 0.4);
        background-color: rgba(58, 67, 74, 0.07);
        border-radius: 2px;
        display: flex;
        padding-left: 8px;
        max-width: 574px;
        .icon {
          flex-basis: 20px;
          display: grid;
          place-items: center;
          svg {
            width: 14px;
            height: 14px;
            padding: 3px;
          }
        }
        input[type="text"] {
          border: none;
          padding: 8px 0;
          letter-spacing: -0.15px;
          opacity: 0.6;
          background: none;
          flex-basis: 490px;
        }
        input[type="submit"] {
          flex-basis: 84px;
          height: 36px;
          padding: 8px 12px;
          border-radius: 2px;
          background-color: var(--color-text-light);
          border: 0;
          color: var(--white);
          cursor: pointer;
        }
      }
    }
  }
  .box-teaser,
  .box-full {
    ul#carousel {
      width: 100%;
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        width: 102px;
        height: 102px;
        margin-right: 16px;
        margin-top: 16px;
        a {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  &.box.active {
    .box-teaser {
      display: none;
    }
  }
}
