section#map {
  .box-teaser {
    .maps {
      .world-map {
        margin: 0 auto;
        text-align: center;
        a {
          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}
