.box {
  padding: 12px 16px;

  .box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;

    h2 {
      font-size: 16px;
      line-height: 1.5;
      color: var(--color-text-light, #3a434a);
      margin: 0;

      span {
        margin-left: 8px;
      }
    }

    .maxsize {
      i {
        margin-left: 8px;
      }

      &:hover {
        i {
          background: var(--red-super-light, rgba(58, 67, 74, 0.03));
        }
      }
    }
  }

  .box-menu {
    margin-top: 24px;

    .box-menu-filters {
      display: grid;
      list-style: none;
      padding: 0;
      grid-auto-flow: column;
      column-gap: 34px;
      justify-content: start;
      margin: 0;
      overflow: auto;
    }
  }
  .box-legend {
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      margin: 0 8px;
      font-size: 14px;
      line-height: 1.43;
      color: var(--color-text-light);
      .box-legend-color {
        display: inline-block;
        border-radius: 2px;
        margin-right: 4px;
        width: 12px;
        height: 12px;
      }
    }
  }
}

// Toggle

.box {
  .maxsize {
    display: block;

    &.active {
      display: none;
    }
  }

  .box-full {
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }

  &.active {
    .maxsize {
      display: none;

      &.active {
        display: block;
      }
    }

    .box-full {
      height: auto;
    }
  }
}

// Load More button in .box-full
.more-data {
  font-weight: bold;
  line-height: 1.43;
  font-size: 0.875rem;
  color: var(--color-text-light);
  width: 107px;
  height: 36px;
  display: block;
  padding: 8px 16px;
  margin: 16px auto;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid var(--color-text-light);
}

// Show down arrow when toggle .active

.box {
  &.active {
    .box-menu {
      ul {
        li {
          button {
            i {
              visibility: visible;
            }
          }
        }
      }
    }
  }
  .box-menu {
    ul {
      li {
        button {
          i {
            visibility: hidden;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint_md) {
  .box {
    padding: 12px 8px;
    .box-menu {
      .box-menu-filters {
        overflow: auto;
        grid-auto-columns: max-content;
        column-gap: 12px;
        padding-bottom: 5px;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

@media (max-width: $breakpoint_sm) {
  .box {
    .box-legend {
      div {
        white-space: nowrap;
        margin: 0 4px;
        .box-legend-color {
          display: inline-block;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          margin-right: 1px;
          vertical-align: middle;
        }
      }
    }
  }
}
