.app-header {
  .overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-size: cover;
    padding: 12px;

    .logo {
      max-width: 60px;
      margin-right: 24px;
    }

    .score_total {
      margin-right: 40px;
    }

    .score_since {
      flex-grow: 1;
    }
  }

  time {
    margin-right: 24px;
    font-size: 14px;
    line-height: 1.4;
    color: var(--color-text-light, #3a434a);
  }

  .account {
    display: flex;
    align-items: center;

    button {
      background: none;
      border: none;
    }

    .user {
      padding-right: 24px;
      margin-right: 24px;
      border-right: 1px solid var(--border-light);
    }
  }

  .filter {
    color: var(--color-text-light, #3a434a);
    cursor: pointer;
    font-weight: bold;

    i {
      margin-left: 15px;
    }
  }

  .score_total {
    .name {
      font-size: 14px;
      color: var(--color-text-light, #3a434a);
    }

    .value {
      font-size: 30px;
      line-height: 1.333;
      font-weight: 700;
    }
  }

  .score_since {
    .value {
      font-weight: bold;
      margin-right: 12px;

      span {
        min-width: 40px;
        display: inline-block;
      }
    }

    .name {
      color: var(--color-text-light, #3a434a);
      font-size: 14px;
    }

    .value {
      &.up {
        color: var(--color-text-success, #3aa600);
      }

      &.down {
        color: var(--color-text-danger, #e65358);
      }
    }
  }
}

@media (max-width: $breakpoint_md) {
  .app-header {
    border-bottom: 1px solid var(--border-light);

    .overview {
      display: flex;
      justify-content: start;

      .logo {
        width: 44px;
        margin-right: 16px;
      }

      .score_total {
        margin-right: 0;
        flex-grow: 1;
        .value {
          font-size: 24px;
        }
      }

      .score_since {
        flex-grow: unset;
      }
    }

    .account {
      margin-bottom: 16px;
      order: -1;
      flex-basis: 100%;

      .user {
        padding-right: 16px;
        margin-right: 16px;
      }

      .filter {
        display: flex;
        align-items: center;

        span {
          display: inline-block;
          text-overflow: ellipsis;
          max-width: 121px;
          overflow: hidden;
          white-space: nowrap;
          font-weight: 600;
        }
      }
    }

    .icx-logo-wrapper {
      flex-grow: 1;
    }

    .icx-logo {
      width: 82px;
    }
  }
}

#modal-filters-program {
  #modal-filters-program-content {
    padding-top: 24px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;

    > div {
      flex-grow: 1;
    }

    .service {
      flex-grow: 0;

      .radio {
        white-space: nowrap;
      }
    }
  }
}
